<main id="main-content" #mainContent>

    <article
        class="prose dark:prose-invert mx-auto max-w-5xl p-4 selection:bg-black selection:text-white mt-16 mb-24 space-y-16">

        <h1>{{resolved.title}}</h1>

        <section>
            <tw-tags [tags]="resolved.tags"></tw-tags>
        </section>

        <section>

            <div class="mb-28">
                <h2>
                    Learning Agency Lab Automated Essay Scoring 2.0 Competition
                </h2>
                <img src="assets/kaggle-lalaes.jpg" alt="Automated Essay Scoring"
                    class="rounded-lg shadow-md w-42 max-w-xs float-left mr-4 mb-4">
                <p>
                    <a href="https://www.kaggle.com/competitions/learning-agency-lab-automated-essay-scoring-2">This
                        competition</a> aimed to develop automated essay grading models that provide
                    efficient, timely feedback to teachers, reduce grading costs, and enable broader
                    integration of essays into student learning assessment.
                </p>
                <p>
                    I achieved a <b>top 4% score</b> (108th of 2706 entries) on the
                    <a href="https://www.kaggle.com/code/inversion/automated-essay-scoring-2-0-efficiency-lb/output">
                        efficiency leader board</a>.
                </p>
            </div>

            <divider></divider>

            <div class="mb-28">
                <h2>
                    Equity in post-HCT Survival Predictions Competition
                </h2>
                <img src="assets/kaggle-ehctsp.jpg" alt="Equity in post-HCT Survival Predictions"
                    class="rounded-lg shadow-md w-42 max-w-xs float-right ml-4 mb-4">
                <p>
                    <a href="https://www.kaggle.com/competitions/equity-post-HCT-survival-predictions">This
                        competition</a> challenged participants to improve allogeneic
                    Hematopoietic Cell Transplantation (HCT) survival rate predictions, fostering equitable
                    and successful patient outcomes.
                </p>
                <p>
                    I explored experimental machine learning approaches, including using Large Language Models
                    (LLMs) for feature engineering. I developed PyTorch solutions with custom loss functions
                    optimized for competition metrics, and employed Generative Adversarial Networks (GANs) for
                    synthetic
                    feature generation and test-time training, visualized via TensorBoard.
                </p>
                <p>
                    <a href="https://www.kaggle.com/code/christurnbull/cibmtr-testtimetrain">Code available
                        here</a>.
                    I achieved a score in the <b>top 37%</b> of participants.
                </p>
            </div>

            <divider></divider>

            <div class="mb-28">
                <h2>
                    Google Universal Image Embedding Competition
                </h2>
                <img src="assets/kaggle-guie.jpg" alt="Google Universal Image Embedding"
                    class="rounded-lg shadow-md w-42 max-w-xs float-left mr-4 mb-4">
                <p>
                    <a href="https://www.kaggle.com/competitions/google-universal-image-embedding">This
                        competition</a> challenged participants to
                    develop advanced image representations that are effective across diverse object types,
                    departing
                    from traditional domain-specific models. The aim was to retrieve relevant images
                    based on object similarity from a varied dataset across many visual domains.
                </p>
                <p>
                    I achieved a score in the <b>top 44%</b> of participants.
                </p>
            </div>

            <divider></divider>

            <div class="mb-28">
                <h2>
                    Google Research Football with Manchester City F.C.
                </h2>
                <img src="assets/kaggle-grfmc.jpg" alt="Google Research Football"
                    class="rounded-lg shadow-md w-42 max-w-xs float-right ml-4 mb-4">
                <p>
                    <a href="https://www.kaggle.com/competitions/google-football">This competition</a>, a
                    collaboration between Manchester City F.C. and Google Research,
                    challenged participants to train AI agents to play football against each other. The goal was
                    to
                    develop agents capable of mastering the sport's complex balance of short-term control,
                    learned
                    concepts like passing, and high-level strategy, making strategic decisions from 19 possible
                    actions to outscore the opponent.
                </p>
                <p>
                    I achieved a score in the <b>top 45%</b> of participants.
                </p>
            </div>

        </section>

    </article>

</main>