<main id="main-content" #mainContent>

    <article #article class="mx-auto max-w-3xl p-4 selection:bg-black selection:text-white mt-16 mb-24 space-y-8">

        <h1 class="text-3xl"><small>Sorry</small><br><mark>Page Not Found</mark></h1>
        <hr>
        <p> <strong> We are unable to show you any content at this adddress. </strong> </p>

        <p>This can happen for several reasons:</p>
        <ul class="list-disc">
            <li>A page that is no longer available.</li>
            <li>Mistyped URL.</li>
            <li>Copy-and-paste error.</li>
            <li>Broken link.</li>
            <li>Moved content.</li>
            <li>Deleted content.</li>
        </ul>

        <p>We suggest you <a routerLink="/"><strong>visit the home page.</strong></a></p>

    </article>

</main>