<!-- Projects -->
<section id="projects" class="not-prose">

    <div class="flex flex-col space-y-4">

        <portfolio-item [date]="'2025'" [title]="'Agentic AI and Vibe Coding'"
            [tags]="['Agentic AI', 'Agile', 'Transformative']" [imgSrc]="'assets/vibe-coding-icon.png'" link="/vibe">
        </portfolio-item>

        <portfolio-item [date]="'From 2020'" [title]="'Kaggle AI Competition Platform'"
            [tags]="['Python','AI', 'Machine Learning', 'Pytorch']" [imgSrc]="'assets/kaggle-logo.png'" link="/kaggle">
        </portfolio-item>

        <portfolio-item [date]="'2023 - 2024'" [title]="'Gateshead Assessment Profile Web App'"
            [tags]="['Full Stack','Fastify','Angular','SQLite','Drizzle','Mailjet','Zod','JWT','Tailwind']"
            [imgSrc]="'assets/typescript-programming-language-icon.png'" link="/gap">
        </portfolio-item>

        <portfolio-item [date]="'2024'" [title]="'Using LLMs to Predict Bitcoin Private Keys'"
            [tags]="['C++','WebAssemby', 'Emscripten' ,'LLM', 'Angular', 'AI','Bitcoin']"
            [imgSrc]="'assets/webassembly-icon.png'" externalUrl="https://wow-l.uk/llm-bitcoin">
        </portfolio-item>

        <portfolio-item [date]="'2019 - 2024'" [title]="'Gateshead Learning and Skills CMS'"
            [tags]="['Full Stack','TypeScript','LoopBack','Angular','SSR','MySQL','OpenAPI','WCAG']"
            [imgSrc]="'assets/angular-icon.png'" link="/ls-cms">
        </portfolio-item>

        <portfolio-item [date]="'2018 - 2024'" [title]="'kiowa - Advanced Web Server Security & Log Analysis Tool'"
            [tags]="['CLI Tool', 'Apache', 'iptables', 'Bot Detection', 'Log Analysis']"
            [imgSrc]="'assets/kiowa-logo.png'" link="/kiowa">
        </portfolio-item>

        <portfolio-item [date]="'2018 - 2024'" [title]="'nwb - Node WordPress Backup'"
            [tags]="['CLI Tool', 'Node.js','S3', 'WordPress', 'Backup']" [imgSrc]="'assets/nwb-logo.png'" link="/nwb">
        </portfolio-item>

        <portfolio-item [date]="'From 2014'" [title]="'Linux Servers'"
            [tags]="['Node.js','TypeScript', 'iptables', 'S3', 'Nginx', 'Apache']" [imgSrc]="'assets/svg/tux.svg'"
            link="/linux">
        </portfolio-item>

        <portfolio-item [date]="'From 2014'" [title]="'Application Code'"
            [tags]="['TypeScript', 'C++', 'PHP', 'Python', 'WordPress']" [imgSrc]="'assets/wavy-code-icon.png'"
            link="/app-code">
        </portfolio-item>

    </div>

</section>