<div class="min-h-screen dark:bg-neutral-900">

  <header class="fixed inset-x-0 bottom-0 bg-neutral-800 sm:relative z-10">
    <div class="mx-auto justify-between p-3 sm:flex sm:max-w-4xl sm:p-4">

      <a routerLink="/" class="flex no-underline items-center text-lg font-bold">
        <img class="inline-block w-8 object-cover rounded-full mr-3 border-2 border-gray-400"
          src="https://avatars.githubusercontent.com/u/7288833?v=4" alt="Chris Turnbull profile picture" />
        <span class="text-white hover:text-yellow-300">About</span>
      </a>

      <div class="flex gap-2 text-white">

        <a routerLink="/portfolio" class="flex no-underline items-center text-lg font-bold">
          <span class="text-white hover:text-yellow-300">Portfolio</span>
        </a>

        <span class="flex items-center">|</span>

        <a href="https://wow-l.uk/llm-bitcoin" class="flex no-underline items-center text-lg font-bold">
          <span class="text-white hover:text-yellow-300">LLM-Bitcoin</span>
        </a>

      </div>

    </div>
  </header>

  <!-- <header class="fixed inset-x-0 bottom-0 bg-neutral-800 sm:relative">
    <div class="mx-auto justify-between p-3 sm:flex sm:max-w-4xl sm:p-4">

      <a href="#" class="hidden items-center gap-1 sm:flex">
        <img class="inline-block w-8 object-cover"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxMXx8aGVhZHNob3R8ZW58MHwxfHx8MTY5MDI3MTY4Nnww&ixlib=rb-4.0.3&q=80&w=1080" />
        <span class="text-lg font-bold text-white">WOW Look...</span>
      </a>

      <div class="flex sm:gap-2">
        <a href="#"
          class="block flex-1 py-2 text-center text-lg text-white hover:bg-neutral-700 sm:hidden sm:px-3">Home</a>
        <a href="#" class="block flex-1 bg-neutral-700 py-2 text-center text-lg text-white sm:px-3">CV</a>
      </div>
    </div>
  </header> -->

  <router-outlet />

  <section
    class="mx-auto max-w-3xl p-8 selection:bg-black selection:text-white mt-24 mb-24 text-center bg-gray-100 rounded">
    <div class="text-gray-700 mb-2"><em>Want to collaborate?</em></div>
    <h2 class="text-3xl font-bold dark:text-white mb-8">Reach out to me on LinkedIn</h2>
    <a href="https://www.linkedin.com/in/wow-luk/" target="_blank" (click)="gtm.trackEvent('ce_click_social_linkedin')">
      <span class="text-white text-sm font-bold bg-green-700 px-4 py-2 rounded cursor-pointer hover:bg-green-800">
        Connect
      </span>
    </a>
  </section>


  <!-- Footer -->
  <footer class="bg-neutral-800 p-8 pb-20 sm:pb-8 text-white">
    <section class="mx-auto flex sm:max-w-4xl sm:flex-row sm:justify-start">
      <div class="font-bold text-sm">&#64;2025 Chris Turnbull</div>
    </section>
  </footer>

</div>