<main id="main-content" #mainContent>

    <article
        class="prose dark:prose-invert mx-auto max-w-5xl p-4 selection:bg-black selection:text-white mt-16 mb-24 space-y-16">

        <h1>{{resolved.title}}</h1>

        <section>
            <tw-tags [tags]="resolved.tags"></tw-tags>
        </section>

        <section>

            <p>
                Recent advances in AI and more notably, their real-world applications across different sectors, have
                captured my curiosity and led me to research, use, and explore a range of state-of-the-art development
                paradigms and platforms.
            </p>

            <div>
                <h2>Agentic AI</h2>
                <img src="assets/agent-development-kit.png" alt="Google Agent Development Kit"
                    class="w-20 max-w-xs float-left mr-4 mb-2">
                <p>
                    The <a href="https://modelcontextprotocol.io/" target="_blank">Model Context Protocol</a> (MCP) is
                    an open standard that specifies how an AI model should interact with external tools and services.
                    For example, how a model can access a database or search the web. It essentially it makes it
                    possible to convert a natural language prompt into an executable function that can be called (at
                    your own, very real and serious, risk). The model becomes an <em>agent</em> that can be used to
                    perform tasks on your behalf.
                </p>
                <p>
                    The <a href="https://developers.googleblog.com/en/a2a-a-new-era-of-agent-interoperability/"
                        target="_blank">Agent2Agent</a> (A2A) protocol is an open standard that specifies how
                    different agents (that may use models from different providers or different task domains) can
                    communicate with each other. It is a potential game-changer for the agentic AI space, as it
                    allows diverse agents to work together to solve complex problems.
                </p>
                <p>
                    The Google <a href="https://google.github.io/adk-docs/" target="_blank">Agent Development Kit</a>
                    (ADK) is a framework that provides synergy between MCP and A2A to develop and deploy agentic
                    architecture.
                </p>
                <p>A space mining analogy:</p>
                <ul>
                    <li>An LLM model is like a planet packed with iron ore.</li>
                    <li>MCP describes how to extract the iron ore from the planet.</li>
                    <li>A2A describes how to transport the iron ore from the mining planet to a smelting planet.</li>
                    <li>ADK describes the whole process of how to attain iron metal.</li>
                </ul>
                <p>
                    An upcoming project I have on the horizon is a perfect fit for leveraging this agentic approach,
                    which should give me a deeper insight into the capabilities and pitfalls real-world implementation
                    of agentic AI.
                </p>
            </div>

            <div>
                <h2>Vibe coding with Windsurf IDE</h2>
                <img src="assets/svg/Windsurf-black-wordmark.svg" alt="Windsurf IDE"
                    class="w-48 max-w-xs float-left mr-4 mb-2">
                <p><a href="https://windsurf.com/" target="_blank">Windsurf IDE</a> (formerly Codeium) is an
                    advanced, AI-powered
                    integrated development environment
                    based on Visual Studio Code. It is designed to enhance developer productivity and improve
                    the overall coding experience by leveraging the immense power of modern LLMs such as
                    OpenAI's o3, Anthropic's Claude, and Google's Gemini.</p>
                <p>
                    As part of the <strong>Early Adopter Program</strong>, I was able to explore and experiment with
                    Windsurf IDE and its capabilities in the early stages of it's development.
                </p>
                <p>
                    It has been a transformational experience. The cascade flow engine is a game-changer.
                    It is an agent that uses context from the whole code base to help maintain the developer's
                    "flow state" (the "vibe") by minimizing context switching, reducing cognitive load, and
                    automating the otherwise manual processes. It allows the developer to focus on high-level
                    problem-solving.
                </p>
                <p>
                    The developers role has become more about architecture design and scenario planning, and less about
                    writing code. <strong>This fits very well with my full-stack development background</strong>, as the
                    criteria of individual components are now more clearly defined by the wider goal of the project.
                    The iterative process is much more fluid and allows me to drive towards the bigger picture without
                    being side-tracked by the technicalities of individual components.
                </p>
                <p>
                    However, it is not without its flaws. It sometimes feels like you are working alongside the
                    most knowledgeable developer in the world but that developer has Alzheimer's, which can
                    lead to some unexpected results.
                </p>
            </div>

            <div>
                <h2>Google AI Studio</h2>
                <img src="assets/svg/aistudio-color.svg" alt="Google AI Studio"
                    class="w-20 max-w-xs float-left mr-4 mb-2">
                <p>
                    <a href="https://ai.google/studio" target="_blank">Google AI Studio</a> is a platform that allows
                    you to experiment with very large AI models and tools directly in your browser. It provides a
                    range of pre-built models and tools, as well as a platform to create your own apps and tools that
                    leverage AI.
                </p>
                <p>It is a great way to experiment with AI models and tools without having to set up a complex
                    development environment. <strong>It has allowed me to rapidly hypothesize and iterate on
                        ideas</strong> without having to start writing code. I've found it to be a powerful tool for
                    refining the architecture during the early stages of a project.
                </p>
                <p>
                    However, it is a tool that is designed to sell itself. It always provides very complimentary
                    answers that make the operator feel encouraged. Often this encouragement masks the
                    real-world impracticalities of the solutions it proposes.
                </p>
            </div>

        </section>

    </article>

</main>