<a [routerLink]="link" class="no-underline text-inherit hover:text-inherit visited:text-inherit">
    <div class="flex p-4 items-center justify-between border-2 border-gray-200 hover:border-gray-400 rounded mb-2">
        <div class="flex flex-col space-y-2">
            <div class="flex">

                <div class="flex w-16 mr-2 justify-center">
                    <img class="max-w-12 max-h-12 object-contain" [src]="imgSrc" [alt]="title">
                </div>

                <div class="flex flex-col">
                    <div class="text-sm">{{date}}</div>
                    <h3 class="font-bold">{{title}}</h3>
                </div>
            </div>
            <div class="flex flex-wrap gap-2">
                @for (tag of tags; track tag) {
                <tw-tag>{{tag}}</tw-tag>
                }
            </div>
        </div>

        <svg class="w-6 h-6 transition-transform -rotate-90 hover:" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
    </div>
</a>